@import "normalize.css";

/****** GLOBAL ******/
:root {
  --orange: #f56b2a;
  --light-grey: #fafafa;
  --dark-grey: #474747;
  --blue: #4183d7;
  --dark-blue: #356699;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

html {
  min-height: 100vh;
  position: relative;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--light-grey);
}
.btn {
  cursor: pointer;
}
/****** NAVBAR ******/
nav {
  padding: 0.625rem 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: white;
  box-shadow: 0px 1px 10px lightgrey;
}
.navbar__left-bloc {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.search-bar {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar input {
  background-color: inherit;
  border: none;
  outline: none;
  margin-left: 0.625rem;
  width: 200px;
}
.search-bar ::-webkit-input-placeholder {
  font-size: 1.2em;
  font-weight: 500;
}

.login-icon {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.login-icon p {
  font-size: 0.8em;
}

/****** HOME SEACRH BOX ******/
.home-search-box {
  margin: 2.1875rem auto;
  width: 50.625rem;
  height: 8.125rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.home-search-box .search-bar {
  padding: 13px 50px;
  background-color: var(--light-grey);
}
button {
  outline: none;
  width: 13.75rem;
  height: 2.5rem;
  color: white;
  font-size: 1em;
  background-color: none;
  border-radius: 5px;
}
.home-search-box button {
  margin-left: 1.25rem;
  background-color: var(--blue);
}

/****** PRODUCTS LIST *******/
.products-lists {
  width: 62.5rem;
  margin: 0 auto;
}

/****** PRODUCT CARD *******/
.item-card {
  width: 100%;
  height: 15rem;
  display: flex;
  border-radius: 5px;
  background-color: white;
  margin: 20px 0;
  overflow: hidden;
  box-shadow: 0px 0px 15px lightgrey;
}
.item-img {
  width: 15rem;
  height: 100%;
  object-fit: cover;
}
.item-description {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.25rem;
  flex: 1 1 auto;
  justify-content: space-between;
}
.item-title {
  font-size: 1.375rem;
  line-height: 1.625rem;
}
.item-price {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: var(--orange);
}
.item-date {
  font-size: 1rem;
  line-height: 140%;
}

/****** PAGES BUTTONS ******/
.page-buttons {
  width: 50vw;
  margin: 1.875rem auto;
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
}
.page-btn {
  cursor: pointer;
  padding: 5px;
  background-color: none;
  border: none;
  color: var(--dark-blue);
}
.current-page-btn {
  padding: 5px;
  margin: 0 5px;
  background-color: var(--orange);
  border: none;
  color: white;
}

/****** FOOTER ******/
footer {
  background-color: var(--dark-grey);
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer > p {
  line-height: 6vh;
  color: white;
  text-align: center;
}

/****** PRODUCT PAGE ******/
/****** PRODUCT CARD ******/
.product-description {
  position: relative;
  width: 43.75rem;
  height: 37.5rem;
  margin: 2.5rem 0;
  overflow: hidden;
  box-shadow: 0px 0px 15px lightgrey;
  background-color: white;
}

/****** MODAL ******/
.modal-page {
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
  position: fixed;
  z-index: 10;
}
.toggle-modal {
  font-size: 2em;
  position: absolute;
  margin: 1.25rem;
  right: 0;
}
.modal-card {
  font-weight: bold;
  position: absolute;
  top: 15vh;
  left: 25vw;
  background-color: white;
  width: 50vw;
  height: 65vh;
  margin: 0 auto;
  padding: 2.5rem;
}
.modal-card h3 {
  text-align: center;
  font-size: 1.3rem;
}
.login-form {
  height: 65%;
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-top: solid 3px var(--orange);
  border-bottom: solid 1px lightgrey;
}
.login-form p {
  font-size: 0.9em;
  margin-bottom: 5px;
}
.login-form label {
  width: 100%;
}
.login-form input {
  width: inherit;
  padding: 0.625rem;
  border-radius: 5px;
  border: solid 1px lightgrey;
  box-sizing: border-box;
}

.no-account {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9em;
  height: 20%;
}

.modal-page .login-btn {
  font-weight: bold;
  width: 100%;
  background-color: var(--blue);
  border: none;
  color: white;
}
.create-account {
  text-align: center;
  font-weight: bold;
  width: 100%;
  border: solid 1px var(--blue);
  border-radius: 5px;
  color: var(--blue);
  margin: 0.625rem 0;
  padding: 0.9375rem;
}

/****** SIGN IN ******/
section.sign-in {
  position: relative;
  box-sizing: border-box;

  margin: auto 3.125rem;
  margin-bottom: 6.25rem;
  padding: 3.125rem;
  box-sizing: border-box;
  display: flex;
}
/****** why sign in ******/
.why-sign-in {
  width: 50%;
}
.why-sign-in h3 {
  font-weight: bolder;
  font-size: 1.4em;
}
.arguments-list {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.argument-box {
  display: flex;
  align-items: center;
  margin: 0.9375rem 0;
  margin-right: 3.125rem;
}
.argument-section {
  margin-left: 1.25rem;
}
.argument-section h4 {
  font-weight: bolder;
  font-size: 1em;
  margin: 1.25rem 0;
}
.argument-section p {
  font-size: 0.9em;
}

/****** sign-in form ******/
.sign-in-info {
  width: 50%;
}
.sign-in-info h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 1.4em;
  margin-bottom: 1.875rem;
}
.sign-in-info form {
  border-top: solid 3px var(--orange);
}
.sign-in-form label {
  display: block;
  margin: 17px 0;
}
.sign-in-form p {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1em;
  white-space: nowrap;
}
.sign-in-info input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: none;
  border-radius: 5px;
  border: solid 1px lightgrey;
}
.passwords {
  display: flex;
  justify-content: space-between;
}
.passwords * {
  width: 45%;
  background-color: none;
}
.CGV {
  margin: 16px 0;
}
.CGV p {
  font-size: 0.8em;
  vertical-align: baseline;
  font-weight: lighter;
  white-space: normal;
  display: inline;
}

.sign-in-btn {
  width: 100%;
  background-color: var(--blue);
}
.disabled {
  background-color: lightgrey;
  cursor: not-allowed;
  font-weight: bold;
  width: 100%;
  border: none;
  color: white;
}

p.warnings {
  width: 100%;
  margin-top: 5px;
  font-weight: normal;
  font-size: 12px;
  color: red;
  white-space: normal;
}

/****** NEW OFFER ******/
main {
  background-color: white;
  margin: auto 50px;
  box-shadow: 0px 1px 10px lightgrey;
}
.form-card {
  padding: 20px;
  width: 50%;
  margin: 30px auto;
}
.form-card h3 {
  text-align: center;
  margin: 10px auto;
  font-weight: bold;
  font-size: 1.2em;
}
.new-offer-form {
  border-top: solid 3px var(--orange);
  margin: 20px 0;
  padding-top: 30px;
}
.form-sub-section {
  margin-bottom: 20px;
}
.form-label-text {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1em;
}
.form-sub-section input,
textarea {
  color: var(--dark-grey);
  font-size: 0.8em;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: solid 0.5px lightgrey;
  border-radius: 5px;
}
input.price-input {
  width: 30%;
}
input.file-input {
  border: none;
  padding: 0;
}

.validate-btn {
  background-color: var(--blue);
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
.dropzone-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: solid 0.5px lightgrey;
}
.dropzone {
  text-align: center;
  border: dashed 2px lightgrey;
  background-color: var(--light-grey);
  color: grey;
  font-size: 0.9em;
  width: 100%;
  height: 10vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropzone > p {
  margin: auto 0;
}
